body {
	margin:0;
	font-family: Helvetica, sans-serif;
	font-weight: 300;
	font-size: 1.5em;
	line-height: 1.2em;
	background: #eee;
	color: #000;
}	
table{
	width:840px;
	text-align: center;
	table-layout: fixed;

}
#heading {
	padding:75px;
	text-align: center;
	background: #000;
	color: #ffffff;
}

#content {
	width:840px;
	margin:40px auto 100px auto;

}
#eqn{
	font-family: "Times New Roman", sans-serif;
	letter-spacing: 1px;
	font-weight: bold;
	font-style: italic;
}

.interactive {
	font-style: italic;
	text-align: center;
}

.interactive .caption{
	text-align:center;
	font-style: italic;
}
.button{
	font-style: normal;
	font-weight: bold;
}
/*svg elements*/
svg{
}
circle {
	fill:none;
	stroke:#000;
	stroke-width:2px;
}
line{
	stroke:black;
	stroke-width:2px;
}
.graph{
	fill:none;
	stroke:steelblue;
	stroke-width:3px;
}